#Card{
    width: 300px;
}

.Card-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 40px 20px;
    border: 1px solid rgb(68, 68, 68);
}

.Card-content p:last-child{
    margin-top: 20px;
}

.light-mode .Card-content:hover{
    background-color: #feb633;
    border: 1px solid #edecec;
}

.Card-content p{
    color: #8a8fa3;
    font-size: 14px;
}

.Card-content h2{
    color: #32333c;
}

.light-mode .Card-content{
    background-color: #fbfbfb;
    border: 1px solid #d6d6d6ef;
}

.dark-mode .Card-content:hover{
    background-color: #000000;
    border: 1px solid #2f2f2fef;
}